body,html,h1,h2,h3,h4,h5,h6,span,div,p,b{
    margin:0;
    padding:0;
    list-style: none;
}
.mui-content{
    padding-top:44px;
}
.phoneForm{
    background-color: rgba(0,0,0,.1) !important;
    border-radius: 6px;
    width: 100%;
    margin: 10px auto;
    height:34px;
}
.phoneForm:before{
    background-color: transparent !important;
}
.phoneForm .phoneRow:after{
    background-color: transparent !important;
}
.phoneForm:after{
    background-color: transparent !important;
}
.phoneRow label{
    padding: 7px 15px !important;
}
.phoneRight{
    position: relative;
    z-index: 1;
    background: #fff;
    border-bottom: 1px solid #ccc;
}
.iconDel{
    position: absolute;
    right: 10px;
    top: 10px;
    bottom: 3px;
    margin: auto;
}