<div class="con-pageContent">
    <div class="mark">
        <h1 class="bg">contentssss</h1>
    </div>

    <ul style="margin-top:150px">
        <li ng-repeat="x in names">
            {{ x.name + ', ' + x.age }}
        </li>
    </ul>

    <div class="face">
        <input type="text" ng-model="name">
        <div>姓名：{{name}}</div>
    </div>
</div>

<style>
    .con-pageContent{
        width:80%;
        height:500px;
        float: left;
        overflow: hidden;
        position: relative;
    }
    .con-pageContent:after{
        content: '';
        clear: both;
    }
    .mark{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        z-index: 1;
        text-align: center;
        line-height:500px;
        color: #ddd;
        font-weight:bold;
    }
    .face{
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
    }
</style>

